.header{
    background-color: var(--secondColor);
    display: flex;
    padding: 17px 10px;
    width: 100vw;
}

.hamburger-menu .icon-menu{
    height: 30px;
    position: absolute;
    left: 10px;
    width: 30px;
}

.header h1{
    color: var(--white);
    font-weight: 300;
}

.title-menu{
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-nav, .menu-nav-desktop{
    background-color: var(--bgColor);
    border-top: 3px solid var(--thirdColor);
    border-right: 3px solid var(--thirdColor);
    border-radius: 0px 5px;
    display: block;
    height: 100%;
    position: fixed;
    top: 10;
    left: 0;
    width: 180px;
}

.menu-nav-desktop{
    display: none;
}

.li-sidebar-menu{
    border-radius: 5px 0px 0px 5px;
    margin: 20px 0px 0px 10px;
    padding: 10px;
    transition: .2s;
}

.li-sidebar-menu:hover{
    background-color: var(--thirdColor);
}

.icons{
    height: 30px;
    margin-right: 20px;
    width: 30px;
}

.profile-icon{
    width: 35px;
    height: 35px;
}

@media screen and (min-width: 992px){

    .menu-nav, .icon-menu{
        display: none;
    }

    .menu-nav-desktop{
        display: block;
        overflow: hidden;
        transition: .2s;
        width: 65px;
    }

    .menu-nav-desktop:hover{
        width: 180px;
    }

  }
